.additional__text {
    width: 248px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}