.intro__span {
    margin: 0;
    padding: 0;
    padding-left: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 400px) {
    .intro__span {
        line-height: 19px;
        font-size: 12px;
    }
}