.additional__content-subtitle {
    width: 640px;
    margin: 48px auto 58px;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}