.comments__content-title {
    margin: auto;
    max-width: 800px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;

    color: #FFFFFF;
}

@media (max-width: 940px) {
    .comments__content-title {
        font-size: 42px;
        line-height: 46px;
        width: 100%
    }
}

@media (max-width: 400px) {
    .comments__content-title {
        font-size: 32px;
        line-height: 35px;
    }
}